ENGINEER_AGENT_NAME=Alice
ENGINEER_AGENT_PROFILE=software-engineer
ENGINEER_AGENT_OPERATOR_NAME=Lourenco
ENGINEER_OPENCLAW_GATEWAY_TOKEN=qualquer-token-for-now-engineer
ENGINEER_MODEL_PROVIDER=google
ENGINEER_MODEL_NAME=gemini-1.5-pro
ENGINEER_MODEL_KEY=<PUT YPUR KEY HERE>
ENGINEER_TELEGRAM_BOT_TOKEN=<PUT YPUR KEY HERE>
ENGINEER_LINEAR_ENABLED=false
ENGINEER_LINEAR_API_KEY=

PM_AGENT_NAME=Assiscleidson
PM_AGENT_OPERATOR_NAME=Lourenco
PM_AGENT_PROFILE=product-manager
PM_OPENCLAW_GATEWAY_TOKEN=qualquer-token-for-now-pm
PM_MODEL_PROVIDER=openai
PM_MODEL_NAME=gpt-5.4
PM_MODEL_KEY=<PUT YPUR KEY HERE>
PM_TELEGRAM_BOT_TOKEN=<PUT YPUR KEY HERE>
PM_LINEAR_ENABLED=false
PM_LINEAR_API_KEY=
